<section id="sobre">
    <h2 class="titulo-secao">Sobre <span>// quem sou</span></h2>
    <div class="sobre-flex">
        <div class="sobre-card">
            <h3>Área de foco</h3>
            <p>Desenvolvedor back-end, full-stack e aplicações web.</p>
        </div>
        <div class="sobre-card">
            <h3>Competências em desenvolvimento</h3>
            <p>JavaScript e MySQL.</p>
        </div>
        <div class="sobre-card">
            <h3>No momento estou...</h3>
            <p>Com foco em projetos reais e funcionais para desenvolvimento pessoal.</p><br>
            <p>Trabalhando como Suporte Técnico de Software e Hardware N1.</p>
        </div>
    </div>
</section>
