<header>
    <nav aria-label="Navegação principal">
        <ul id="menu-navegacao">
            <li><a href="#hero">Início</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#formacoes">Formações</a></li>
            <li><a href="#projetos">Projetos</a></li>
            <!-- <li><a id="experiencia-menu" href="#experiencia">Experiências</a></li> -->
            <li><a href="#contato">Contato</a></li>
        </ul>
    </nav>
</header>
